/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

/* Header */
header {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.top-bar {
    background-color: #e53935;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:rgb(237, 205, 60);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    
}

.logo span {
    color: #e53935;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.cart {
    font-weight: bold;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background: #ffcc80;
    text-align: left;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #e53935;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* About Section */
.about {
    padding: 50px;
    background:white;
    text-align: center;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder ;
}

.about p {
    font-size: 18px;
    margin-bottom: 15px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.about ul {
    list-style-type: none;
    padding: 0;
}

.about ul li {
    font-size: 18px;
    padding: 5px 0;
    color: #333;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}